:root {
  --theme-color: #757575;
  --secondary-color: #212121;
  --accent-color-primary: #2196f3;
  --accent-color-secondary: #188ce8;

  --footer-links-color: rgba(255, 255, 255, 0.6);

  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);

  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f5f4fa;
  --bg-color-add: #e5e5e5;
  --bg-color-dark: #2f303a;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* remove bullets */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* remove link underline */
a {
  text-decoration: none;
}
/* image styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* buttons style */
.button {
  display: inline-block;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--bg-color-primary);
  background-color: var(--accent-color-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

body {
  color: var(--theme-color);
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color-primary);
}

/* page header */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
/* main-nav page header */
.main-nav {
  display: flex;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
}
/* logo styles in header and footer*/
.logo {
  margin-right: 93px;
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--accent-color-primary);
}
.logo-header {
  color: var(--secondary-color);
}
.logo-footer {
  color: var(--bg-color-primary);
}

/* navbox and authnav in header*/
.navbox {
  display: flex;
}
.navbox.authnav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.navbox .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link,
.authnav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link {
  position: relative;
  color: var(--secondary-color);

  transition: color 250ms var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color-primary);
}
.current {
  position: relative;
  color: var(--accent-color-primary);
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-color-primary);
  border-radius: 2px;
}
/* header links list */
.authnav {
  display: flex;
  margin-left: auto;
}
.authnav .item:not(:last-child) {
  margin-right: 30px;
}
.authnav-link {
  display: flex;
  align-items: center;
  color: var(--theme-color);

  transition: color 250ms var(--timing-function);
}
.authnav-link:hover,
.authnav-link:focus {
  color: var(--accent-color-primary);
}
.icon-post {
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Studio page */

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
}
.hero .button {
  padding: 10px 32px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-color-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* features section */
.features {
  margin-bottom: -94px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
}
.features-item {
  min-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item .thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.features-item > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: var(--theme-color);
}
/* activities section */
.activities-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.activities-list {
  display: flex;
}
.activities-item:not(:last-child) {
  margin-right: 30px;
}
.activities-thumb {
  position: relative;
}
.activities-thumb .text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.text > h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
}
/* team members section */
.members {
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--bg-color-secondary);
}
.members-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  color: var(--secondary-color);
}
.members-list {
  display: flex;
  flex-wrap: wrap;
}
.members-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--bg-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-item:not(:last-child) {
  margin-right: 30px;
}
.members-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  color: var(--secondary-color);
}
.members-item p {
  margin-top: 0;
  margin-bottom: 16px;
}
.members-item .desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* social links & icons*/
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  display: flex;
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--icon-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color-primary);
  fill: var(--bg-color-primary);
}

/* clients section */
.client {
  width: 170px;
  height: 92px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.clients-list {
  display: flex;
}
.logo-thumb {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.client:not(:last-child) {
  margin-right: 30px;
}
.logo-thumb:hover,
.logo-thumb:focus {
  fill: var(--accent-color-primary);
  border: 1px solid var(--accent-color-primary);
}

/* Portfolio page */

/* projects section */
.projects .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--bg-color-secondary);
  border: 0;
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--bg-color-primary);
  background-color: var(--accent-color-primary);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
/* project list */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
/* project item */
.project-item {
  display: flex;
  width: calc((100% - 60px) / 3);
}
.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
/* Project link overlay */
.project-link {
  position: relative;
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .project-text {
  transform: translateY(0%);
}
.project-thumb {
  position: relative;
  display: flex;
  overflow: hidden;
}
.project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-color-primary);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.project-desc {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* project item desc */
.project-desc h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.project-desc p {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--theme-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-dark);
}
.footer-primery {
  display: flex;
  align-items: baseline;
}
.logo-item {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
/* footer address */
.footer-address {
  min-width: 231px;
  margin-right: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--bg-color-primary);
}
.footer-address .address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address .link {
  color: var(--footer-links-color);
}
/* Footer social links & icons */
.social-footer {
  margin-right: 93px;
}
.social-footer h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
}
.social-item .link-item {
  background-color: var(--icon-bg-color);
  fill: var(--bg-color-primary);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.social-item .link-item:hover,
.social-item .link-item:focus {
  background-color: var(--accent-color-primary);
}
/* Footer subscribe */
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 570px;
}
.subscribe-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-primary);
}
.subscribe-input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--bg-color-primary);
  background-color: var(--bg-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: outline 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.subscribe-input::placeholder {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: var(--footer-links-color);
}
.subscribe-input:focus {
  outline: 1px solid var(--accent-color-primary);
  border-color: var(--accent-color-primary);

  /* Nice shadow on focus*/
  /* filter: drop-shadow(0px 4px 4px var(--accent-color-primary)); */
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--bg-color-primary);
  background-color: var(--accent-color-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--accent-color-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-send {
  margin-left: 10px;
  height: 24px;
  width: 24px;
  fill: var(--bg-color-primary);
}
/* Backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* Modal */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--bg-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.modal .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-color-primary);
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}
.modal .close:hover,
.modal .close:focus {
  fill: var(--accent-color-primary);
}
/* Feedback form */
.feedback-form {
  width: 528px;
  height: 581px;
  padding: 40px;
  /* position: relative; */
}
.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.form-group,
.form-comment {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
  color: var(--theme-color);
}
.form-input,
.form-textarea {
  height: 40px;
  padding: 12px 16px;
  color: var(--secondary-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.form-input {
  padding-left: 42px;
}
.form-input:focus,
.form-textarea:focus {
  outline-color: var(--accent-color-primary);
  border: 1px solid var(--accent-color-primary);
}
.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--secondary-color);
  transition: fill 250ms var(--timing-function);
}
/* .form-input:focus + .icon-form {
  fill: var(--accent-color-primary);
} */
.form-group:focus-within .icon-form {
  fill: var(--accent-color-primary);
}
.form-comment {
  margin-bottom: 20px;
}
.form-textarea {
  height: 120px;
  resize: none;
}
.form-textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.terms-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--theme-color);
}
.icon-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition: border 250ms var(--timing-function),
    outline 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.checkbox:focus + .icon-checkbox {
  outline: 1px solid var(--accent-color-primary);
}
.checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color-primary);
  background-color: var(--accent-color-primary);
}
.terms-link {
  color: var(--accent-color-primary);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: outline-offset 250ms var(--timing-function);
}
.terms-link:hover,
.terms-link:focus {
  outline-offset: -1px;
}
.terms-link:hover,
.terms-link:focus {
  animation-name: ChangeColor;
  animation-duration: 250ms;
  animation-timing-function: var(--timing-function);
}
@keyframes ChangeColor {
  0% {
    color: var(--accent-color-primary);
  }
  50% {
    color: var(--theme-color);
  }
  100% {
    color: var(--accent-color-primary);
  }
}
.feedback-form .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.feedback-form .button:hover,
.feedback-form .button:focus {
  background-color: var(--accent-color-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
