.features {
  margin-bottom: -94px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
}
.features-list__item {
  min-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features-list__thumb {
  @include centeredFlex();
  height: 120px;
  margin-bottom: 30px;
  background-color: $color-light-bg;
  border-radius: 4px;
}
.features-list__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: $secondary-color;
}
