$theme-color: #757575;
$secondary-color: #212121;
$accent-color-primary: #2196f3;
$accent-color-button: #188ce8;
$color-light: #ffffff;
$color-footer-addl: rgba(255, 255, 255, 0.6);
$color-footer-bg: #2f303a;
$color-footer-bg-lighten: rgba(255, 255, 255, 0.1);
$color-light-bg: #f5f4fa;
$icon-color: #afb1b8;
$shadow-color: rgba(0, 0, 0, 0.15);
// Animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
